@import "tailwindcss";
@import "tailwindcss-primeui";
@import "./pretendardvariable.css";

@theme {
  --font-display: "Pretendard Variable";
}

html,
body,
#app {
  @apply m-0 h-full w-full overflow-hidden p-0 font-(family-name:--font-display);
}

.p-popover {
  @apply !border-slate-50;
}

.p-popover-content {
  @apply !p-2;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
